<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iskryb</title>
    <link rel="stylesheet" href="/styles/edit-profile.css">
</head>
<body>

    <nav class="navbar">
        <button class="navbutton">☰</button>
        <div class="logo">
            <h2><a href="/landingpage">Iskryb</a></h2>
        </div>

        <div class="logOutIcon">
            <form class="log-out" action="/logOut" method="post">
                <input class="logout-button" type="submit" value="Log out">
            </form>
        </div>
        
        <div class="nav-icons">
            <form action="/logOut" method="post">
                <input class="logout-button" type="submit" value="Log out">
            </form>
        </div>
    </nav>

    <div class="container">

        <div class="sidebar-desktop">
            <div class="sidebar-icons">
                <h4><a href="/myProfile"><%= locals.user.firstname%> <%= locals.user.lastname %></a></h4>
            </div>
        </div>
        
        <div class="sidebar">
            <div class="sidebar-icons">
                <div class="logoInSidebar"> 
                    <h2><a href="/landingpage">Iskryb</a></h2>
                </div>
            </div>
        </div>

        <div class="contentcontainer">

           <div class="profilecard">

            <div class="card_header">
                <h1>Edit Your Profile</h1>
            </div>
            

            <div class="profile-forms">
                <form action="/update-profile" method="post" enctype="multipart/form-data">
                    <div class="box">
                        
                        <div class="box-form">
                            <label for="profilePicture">profile Picture</label>
                            <input id="profilePicture" type="file" name="profilePicture" accept="image/*"/>
                        </div>

                        <div class="box-form">
                            <label for="firstName">First Name:</label>
                        <input id="firstName" class="userinput" type="text" name="firstname" value="<%= user.firstname %>" required>
                        </div>
                        <div class="box-form">
                            <label for="lastName">Last Name:</label>
                        <input id="lastName" class="userinput" type="text" name="lastname" value="<%= user.lastname %>" required>
                        </div>
                        <div class="box-form">
                            <label for="gender">Gender:</label>
                        <input id="gender" class="userinput" type="text" name="gender" value="<%= user.gender %>" required>
                        </div>
                        <div class="box-form">
                            <label for="bio">Bio:</label>
                        <textarea id="bio" rows="10", cols="50" class="userbio" name="bio"><%= user.bio %></textarea>
                        </div>
       
                    </div>
                    
                    <button class="profileButton" type="submit">Update profile</button>
                </form>
            </div>
           </div>
            
        </div>
        
        
    </div>

</body>
<script src="/newsfeed.js"></script>
</html>
            