<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iskryb</title>
    <link rel="stylesheet" href="/styles/newsfeed.css">
</head>
<body>
    <nav class="navbar">
        <button class="navbutton">☰</button>
        <div class="a">
            <div class="logo">
                <h2><a href="/landingpage">Iskryb</a></h2>
            </div>
        </div>
        <div class="b">
            <div class="write-icon">
                <a href="/new-story">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" aria-label="Write">
                        <path fill="currentColor" d="M14 4a.5.5 0 0 0 0-1zm7 6a.5.5 0 0 0-1 0zm-7-7H4v1h10zM3 4v16h1V4zm1 17h16v-1H4zm17-1V10h-1v10zm-1 1a1 1 0 0 0 1-1h-1zM3 20a1 1 0 0 0 1 1v-1zM4 3a1 1 0 0 0-1 1h1z"></path>
                        <path stroke="currentColor" d="m17.5 4.5-8.458 8.458a.25.25 0 0 0-.06.098l-.824 2.47a.25.25 0 0 0 .316.316l2.47-.823a.25.25 0 0 0 .098-.06L19.5 6.5m-2-2 2.323-2.323a.25.25 0 0 1 .354 0l1.646 1.646a.25.25 0 0 1 0 .354L19.5 6.5m-2-2 2 2"></path>
                    </svg>
                    <div class="Write">Write</div>
                </a>
            </div>
            <div class="nav-icons">
                <form action="/logOut" method="post">
                    <input class="logout-button" type="submit" value="Log out">
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="sidebar-desktop">
            <div class="sidebar-icons">
                <h4><a href="/myProfile"><%= locals.user.firstname %> <%= locals.user.lastname %></a></h4>
                <p></p>
                <a href="/landingpage">Home</a>
            </div>
        </div>

        <div class="sidebar">
            <div class="sidebar-icons">
                <div class="logoInSidebar">
                    <h2><a href="/landingpage">Iskryb</a></h2>
                </div>
            </div>
        </div>

        <div class="contentcontainer">
            <div class="left">
                <h1>Hello, welcome to iskrib <%= locals.user.firstname %>!</h1>
            </div>
            <div class="newsfeedContainer">
                <section>
                    <h3>Latest posts</h3>
                    <div class="home_menu">
                        <a href="/homepage"><span class="<%= filter === 'public' ? 'active' : ''%>">Public</span></a>
                        <a href="/homepage?filter=followed"><span class="<%= filter === 'followed' ? 'active' : '' %>">Following</span></a>
                    </div>
                    
                    <hr>
                    <div class="categories-container">
                        <% 
                            let baseFilter = filter === 'followed' ? 'followed' : ''; 
                        %>
                        <a href="/homepage?filter=<%= baseFilter ? `${baseFilter}&filter=` : '' %>allposts"><span class="<%= category.allposts ? 'active' : ''%>">All posts</span></a> <!--if baseFilter is true then it will render the value of baseFilter else renfder "" -->
                        <a href="/homepage?filter=<%= baseFilter ? `${baseFilter}&filter=` : '' %>poem"><span class="<%= category.poem ? 'active' : '' %>">Poems</span></a>
                        <a href="/homepage?filter=<%= baseFilter ? `${baseFilter}&filter=` : '' %>story"><span class="<%= category.story ? 'active' : '' %>"> Stories</span></a>
                        <a href="/homepage?filter=<%= baseFilter ? `${baseFilter}&filter=` : '' %>essay"><span class="<%= category.essay ? 'active' : '' %>">Essays</span></a>
                        
                    </div>
                    <% if(locals.posts.length > 0) { %>
                        <% posts.forEach(post => { %>
                            <div class="newsfeed post_card">

                                <div class="name-section">
                                    <% if(post.user_id == user.id) {%>

                                                <a class="author" href="/myProfile">
                                                    <img id="newsfeed-profile" src="<%=post.user_profile_picture || `./uploads/default-profile.png`%>">
                                                </a>

                                            <a class="profile_link author" href="/myProfile">
                                                <small><%= post.firstname %> <%= post.lastname %></small>
                                            </a>

                                        <% } else {%>

                                                <a class="author" href="/user/<%= post.user_id %>">
                                                    <img id="newsfeed-profile" src="<%=post.user_profile_picture || `./uploads/default-profile.png`%>">
                                                </a>

                                            <span>  
                                                <a href="/user/<%= post.user_id %>" class="profile_link author">
                                                    <small ><%= post.firstname %> <%= post.lastname %></small>
                                                </a>
                                            </span>
                                            <span class="separator">•</span>
                                                    <a href="#" data-user-id="<%= post.user_id %>" class="follow-btn">
                                                        <%= post.following ? 'Unfollow' : 'Follow' %>  <!-- check if the logged user follows the post.user_id-->
                                                    </a>
                                            <% } %>
                                    
                                </div>

                                <div class="title">
                                    <a class="postTitle" href="/post/<%= post.post_id%>"><span><%= post.title %></span></a>
                                    <p class="category"><%= post.category ? `▸ ${post.category}` : ''%></p>
                                </div>

                                <% if(post.image) {%>
                                    <span>
                                        <a href="/post/<%= post.post_id%>">
                                            <img class="newsfeed_image" src="<%=post.image%>" alt="photo">
                                        </a>
                                    </span>
                                    <% } %>
                                <p class="content" id="content-id<%= post.post_id %>">
                                    <%- post.content.length > 200 ? `${post.content.substring(0, 200)}...` : post.content %>
                                </p>

                                <% if(post.content.length > 200) { %>
                                    <span data-id="<%= post.post_id %>"><a class="read-more read_more_toggle" data-id="<%= post.post_id %>" href="#" >Read more</a></span>
                                <% } %>

                                <small class="publishDate"><%= new Date(post.created_at).toLocaleString() %></small>

                                <!-- comments Section -->
                                <div class="comments-section">
                                    
                                    <div class="comments-container hidden" id="comments-<%= post.post_id %>">
                                        <% if (post.comments && post.comments.length > 0) { %>
                                            <% post.comments.forEach(comment => { %>
                                                <div class="comment">

                                                    <p>
                                                        <% if(comment.user_id) {%>
                                                            <div class="name-section">
                                                                <img id="newsfeed-profile-comment" src="<%=comment.user.profile_pictures || `./uploads/default-profile.png`%>">
                                                                <a href="/user/<%= comment.user_id %>" class="profile_link author"><small><span><%= comment.user.firstname %> <%= comment.user.lastname %>:</span></small></a>
                                                            </div>
                                                            
                                                            <p class="publishDate">
                                                                <small><%= new Date(comment.created_at).toLocaleString() %></small>

                                                        <p class="content"><%= comment.content %>

                                                            <!-- replies of the users to be created here, im going to sleep -->
                                                            <div id="replies-<%= comment.id %>" class="replies-container hidden" data-page="<%= currentPage%>" data-totalPages="<%=totalPages%>">
                                                         </div>
                                                         <div id="showmore-<%= comment.id %>">
                                                            <button class='show-more-replies hidden button<%= comment.id%>' data-comment-id="<%= comment.id %>">Show More Replies</button>
                                                         </div>
                                                         

                                                         <!-- reply button -->
                                                          <div class="hide_comments">
                                                            <button id="button-<%= comment.id %>" class="reply-btn" data-comment-id="<%= comment.id %>" data-user="<%= user.firstname %> <%= user.lastname %>">show replies</button>
                                                            <div class="icons-box">
                                                                <svg class="svg-comments" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#629584" viewBox="0 0 16 16">
                                                                    <path fill="#629584" d="M12.344 11.458A5.28 5.28 0 0 0 14 7.526C14 4.483 11.391 2 8.051 2S2 4.483 2 7.527c0 3.051 2.712 5.526 6.059 5.526a6.6 6.6 0 0 0 1.758-.236q.255.223.554.414c.784.51 1.626.768 2.512.768a.37.37 0 0 0 .355-.214.37.37 0 0 0-.03-.384 4.7 4.7 0 0 1-.857-1.958v.014z">
                                                                    </path>
                                                                </svg>
                                                                
                                                                <span class="comment_count"> <%= comment.reply_count %></span>
                                                            </div>
                                                            
                                                          </div>
                                                           
                                                           
                                                           <!-- reply input box, initialy hidden-->
                                                            <div class="reply-input<%= comment.id %> replycontainer hidden" id="reply-input-<%= comment.id %>">
                                                                <input type="text" class="reply-comment-input" placeholder="Write a reply...">

                                                                <button class="submit-reply-btn" data-comment-id="<%= comment.id %>">Send</button>
                                                            </div>

                                                            <% } else {%>
                                                                <p class="content no-comments">No comments yet!</p>
                                                                <% } %>
                                                    </p>    

                                                </div>
                                            <% }) %>
                                        <% } else { %>
                                            <p class="no-comments">No comments yet.</p>
                                        <% } %>
                                    </div>

                                    <!-- add comment -->
                                    <div class="add-comment">
                                        <input type="text" class="comment-input" id="comment-input-<%= post.post_id %>" placeholder="Write a comment...">
                                        <button class="add-comment-btn" data-id="<%= post.post_id %>">Leave a Comment</button>
                                    </div>
                                    <div class="hide_comments">
                                        <div class="icons-box">
                                            <button class="toggle-comments toggle-comments<%=post.post_id%>" data-id="<%= post.post_id %>" data-open="false"><div class="icons-box">
                                                <svg class="svg-comments svg"  xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#629584" viewBox="0 0 16 16">
                                                    <path class="icon-comments" data-id="<%= post.post_id %>" fill="#629584" d="M12.344 11.458A5.28 5.28 0 0 0 14 7.526C14 4.483 11.391 2 8.051 2S2 4.483 2 7.527c0 3.051 2.712 5.526 6.059 5.526a6.6 6.6 0 0 0 1.758-.236q.255.223.554.414c.784.51 1.626.768 2.512.768a.37.37 0 0 0 .355-.214.37.37 0 0 0-.03-.384 4.7 4.7 0 0 1-.857-1.958v.014z">
                                                    </path>
                                                </svg>
                                                <span class="comment_count"> <%= post.comment_count %></span>
                                            </div></button>
                                        </div>

                                        <div class="icons-box">
                                            
                                            <button class="like-button">
                                                <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 16 16" >
                                                <path data-post-id="<%= post.post_id %>"
                                                    class="like-btn <%= post.liked ? 'liked' : 'unlike' %>" 
                                                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                </svg>
                                                <!-- if post is already liked by the logged user then it will render the liked ccs selector which is the filled color is red -->
    
                                            </button>
                                            <% if(post.liked) { %>
                                                <span id="<%= post.post_id %>" class="likeCount like-id-<%= post.post_id %>" data-like="<%= post.post_id %>"><%= post.like_count == 1 ? 'You' : `You + ${(post.like_count - 1)} likes`%></span>
                                            <% } else {%>
                                                <span id="<%= post.post_id %>" class="likeCount like-id-<%= post.post_id %>" data-like="<%= post.post_id %>"><%= `${post.like_count} likes`%></span>
                                            <% } %>

                                            <div class="likers-dialog hidden likers-id-<%= post.post_id %>" id="likers-dialog-<%= post.post_id%>" >
                                                <div class="likers-content" id="like-<%= post.post_id %>">
                                                    <% if(post.likers && post.likers.length > 0) {%>
                                                        <% post.likers.forEach(likers => { %>
                                                            <a class="likers-name" href="/user/<%= likers.id %>"><%= likers.firstname %> <%= likers.lastname %></a>

                                                       <% }); %>
                                                        <% } else {%>
                                                            <p>No likers yet</p>
                                                            <% } %>
                                                </div>
                                            </div>
                                              
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <div class="post_card">
                            <p>No posts available.</p>
                        </div>
                    <% } %>

                    <div class="pagination">
                    <% 
                        let baseParams = ``;
                        if (filter === 'followed') {
                            baseParams += `&filter=followed`;
                        }
                        if (category.poem) {
                            baseParams += `&filter=poem`;
                        }
                        if (category.story) {
                            baseParams += `&filter=story`;
                        }
                        if (category.essay) {
                            baseParams += `&filter=essay`;
                        }
                        if (category.allposts) {
                            baseParams += `&filter=allposts`;
                        }
                        %>
                         <% if (currentPage > 1) { %>
                            <a href="/homepage<%=`?page=${currentPage - 1}` %><%= baseParams %>"> &laquo; Previous</a>
                            <% } %>

                            <span> Page <%= currentPage %> of <%= totalPages %> </span>

                        <% if (currentPage < totalPages) { %>
                            <a href="/homepage<%=`?page=${currentPage + 1}` %><%= baseParams %>"> Next &raquo;</a>
                        <% } %>
                        
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
<script>
    
</script>
<script src="/newsfeed.js"></script>
</html>
            