<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iskryb</title>
    <link rel="stylesheet" href="/styles/myProfile.css">
</head>
<body>

    <nav class="navbar">
        <button class="navbutton">☰</button>
        <div class="logo">
            <h2><a href="/landingpage">Iskryb</a></h2>
        </div>

        <div class="logOutIcon">
            <form class="log-out" action="/logOut" method="post">
                <input class="logout-button" type="submit" value="Log out">
            </form>
        </div>
        
        <div class="nav-icons">
            <form action="/logOut" method="post">
                <input class="logout-button" type="submit" value="Log out">
            </form>
        </div>
    </nav>

    <div class="container">

        <div class="sidebar-desktop">
            <div class="sidebar-icons">
                <h4><a href="/myProfile"><%= locals.user.firstname%> <%= locals.user.lastname %></a></h4>
                <p></p><a href="/landingpage">Home</a></p>
            </div>
        </div>
        
        <div class="sidebar">
            <div class="sidebar-icons">
                <div class="logoInSidebar"> 
                    <h2><a href="/landingpage">Iskryb</a></h2>
                </div>
            </div>
        </div>

        <div class="profile-container">
           <div class="profile-details">
            <div class="profile-name-follows">
                <img id="profile-pic" src="<%= user.profile_pictures || `./uploads/default-profile.png` %>" alt="">

                <div class="follow-btn">
                    <button class="follower-btn follows"><%= followerCount %> Followers</button>
                    <button class="following-btn follows"><%= followingCount %> Following</button>
                </div>         
            </div>
            <h2><%= locals.user.firstname %> <%= locals.user.lastname %></h2>
            <br>
            <div class="selection">
                <a href="/myProfile" class="profileSelection" style="text-decoration: underline;"><p>Home</p></a>
                <a href="/myProfile/Bio"class="profileSelection"><p>Bio</p></a>
            </div>
            <hr>
            <br>
            <h5>Posts</h5>
            <% if(posts.length > 0) {%>
                <% posts.forEach(post => {%>
            <div class="profile_post" id="profile_post" data-id="<%= post.id %>">
                <div class="separator">
                    <div class="post-title">
                        <div class="category-container">
                            <h2><a href="/post/<%= post.id%>"><%= post.title %></a> </h2>
                            <p class="category"><%= post.category ? `▸ ${post.category}` : ''%></p>
                        </div>
                        
                        <div class="post-settings"><p class="settings">⋯</p>
                            
                            <div class="hide">
                                <div class="edit-box">
                                    <a class="edit-post menu" href="#" data-title="<%= post.title %>" data-content="<%= post.content %>" data-id="<%= post.id %>">Update post</a>
                                </div>
                                <div class="edit-box">
                                    <a class="delete-post menu" href="#" data-id="<%= post.id %>">Delete post</a>
                                </div>
                            </div>    
                        </div>
                    </div>

                    <div class="post-card">
                        <% if(post.image) {%>
                            <span>
                                <a href="/post/<%= post.id%>">
                                    <img class="newsfeed_image" src="<%=post.image%>" alt="photo">
                                </a>
                            </span>
                            <% } %>
                        <p id="post-id-<%= post.id %>" class="post-content"><%= post.content.length > 200 ? `${post.content.substring(0, 200)}...`: post.content %></p>
                        <% if (post.content.length > 200) {%>
                            <a href="#" class="read-more read" data-id="<%= post.id %>">Read more</a>
                            <% } %>
                        <p ><small class="publishDate"><%= new Date(post.created_at).toLocaleString() %></small></p>
                    </div>
                </div>   
            </div>
            
            <%}); %>
                <% } else {%>
                    <p>No post yet</p>
                <%}%>
                

            <div class="pagination">
                <% if(currentPage > 1) {%>
                    <a href="/myProfile?page=<%= currentPage - 1 %>"> &laquo; Previous</a>
                    <% }%> 
                    <span> Page <%= currentPage %> of <%= totalPages %> </span> 
                <% if(currentPage < totalPages ) {%>
                    <a href="/myProfile?page=<%= currentPage + 1 %>"> Next &raquo;</a>
                    <% } %>
            </div>
            
            <!-- Confirmation Dialog for Deleting Post -->
             <div id="deleteDialog" class="dialog hidden">
                <div class="dialog-content">
                    <h3>Are you sure you want to delete this post?</h3>
                    <div class="dialog-buttons">
                        <button type="button" id="confirmDelete">Yes, delete</button>
                        <button type="button" id="cancelDelete">Cancel</button>
                    </div>
                </div>
            </div>

            <!-- dialog Form -->
             <div id="editDialog" class="dialog hidden">
                <div class="dialog-content">
                    <h3>Edit Post</h3>
                    <form id="editPostForm" method="POST" action="">
                        <input type="hidden" name="_method" value="PUT">
                        <label for="editTitle">Title:</label>
                        <input type="text" id="editTitle" name="title" required>
            
                        <label for="editContent">Content:</label>
                        <textarea id="editContent" name="content" required></textarea>
            
                        <div class="dialog-buttons">
                            <button type="submit">Save</button>
                            <button type="button" id="cancelEdit">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="follower-dialog" class="follower-dialog hidden">
                <div class="follower-content">
                    <% if(followerName.length > 0) {%> 
                        <% followerName.forEach(name => {%>
                            <a class="names" href="/user/<%= name.id %>">
                                <%= name.firstname %> <%=name.lastname  %>
                            </a>
                            
                        <% }); %>
                    <% } else {%>
                        <p>No followers yet</p>
                        <% } %>
                    
                </div>
                
            </div>

            <div class="following-dialog hidden" id="following-dialog">
                <div class="following-content">
                    <% if(followingName.length > 0) {%>
                        <% followingName.forEach(name => { %>
                            <a class="names" href="/user/<%= name.id %>">
                                <%= name.firstname %> <%= name.lastname %>
                            </a>
                        <% }); %>
                        <% } else {%>
                            <p>No followings yet</p>
                            <% } %>
                </div>
            </div>

        </div>

        <div class="edit-profile">
            <div><a href="/edit-profile" >Edit Profile</a></div> 
        </div>
        
        
    </div>
   

</body>
<script>
    
    

</script>
<script src="/profile.js"></script>
</html>
            